.profile-wrapper {
    display: flex;
}

.profile-picture {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 166, 0, 0.697);
    margin-top: 20px;
}

.user-name {
    color: white;
    font-size: 17px;
    padding: 22px 10px 0;
    margin:0;
}

.user-email {
    color: white;
}