.weather-widget {
    border: 1px solid rgba(255, 255, 255, 0.278);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.592);
    background-color: #25252583;
    border-radius: 10px;
    width: 30%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.w-name {
    padding-top: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    color: whitesmoke;
}

.w-temp{
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin:0;
}

.w-sky {
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 20px;
    color: white;
}

.w-icon {
    width: 70px;
    margin:0;
    padding-bottom: 10px;
    padding-right: 5px;
}

.w-date {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 10px;
}

.w-description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-select {
    width: 30% !important;
}

.err-404 {
    color: white;
}