.log-btn {
    background-color: rgba(255, 166, 0, 0.515);
    border: none;
    border-radius: 33%;
    height: 23px;
    width: 10px;
}
.log-btn:hover {
    background-color: orange;
}

.btn-icon {
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: -5px;
}

.login-btn {
    background-color: rgba(255, 166, 0, 0.515);
    border: none;
    border-radius: 33%;
    margin-bottom: 10px;
    padding: 17px 19px 17px 25px;
}

.login-btn:hover {
    background-color: orange;
}
.login-wrapper {
    position: fixed;
    top:0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%; 
    margin-right: 20px;
}

.login-message {
    color: white;
    font-weight: bold;
}
