.log-btn {
    background-color: rgba(255, 166, 0, 0.515);
    border: none;
    border-radius: 33%;
    height: 23px;
    width: 10px;
    
}
.log-btn:hover {
    background-color: orange;
}

.login-wrapper {
    position: fixed;
    top:0;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%; 
    margin-right: 20px;
}

.svg-inline--fa{
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: -5px;
}